.article-item {
  margin: 20px auto 30px;
  padding-bottom: 30px;
  .article-body {
    padding: 0 20px;
    .article-content{
      width: 100%;
      word-wrap:break-word;
      word-break:break-all;
    }
  }
  .location-tag {
    margin: 20px 20px 0 20px;

    .tag-content {
      display: flex;
      align-items: center;
    }
  }
}

.img-view {
  width: 166px;
  height: 166px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.one-img {
  border-radius: 12px;
}

.no-warp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .img-view:nth-child(2n) {
    margin-right: 0;
  }
}

.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .img-view:nth-child(3n) {
    margin-right: 0;
  }
}

.comment{

}
